:root {
  --bg-color: #EEF0F2;
  --second-color: #141414
}

*,*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 8fr 1fr;
}

nav {
  background-color: var(--second-color);
  color: var(--bg-color);
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

h2 {
  color: var(--bg-color);
  background-color: var(--second-color);
  padding: 10px;
}

button {
  cursor: pointer;
  font-weight: bold;
  border: none;
  background-color: var(--second-color);
  color: var(--bg-color);
  margin: 10px;
}

.create-book-button {
  padding: 14px 18px;
  justify-self: end;
  align-self: end;
  border-radius: 100px;
}

.add-book-button {
  padding: 8px 16px;
}

form {
  font-weight: bold;
  text-align: center;
  background-color: white;
  position: absolute;
  top: 35%;
  left: 45%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}

form > div {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  text-transform: capitalize;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}
