/* ===============
    Global Styles
   =============== */

:root {
  --primary-color: white;
  --secondary-color: black;
  --box-shadow: 0 0 5px #00000059;
  --strong-box-shadow: 0 2px 5px #00000099;
}

:root.dark {
  --primary-color: black;
  --secondary-color: white;
  --box-shadow: 0 0 5px #FFFFFF59;
  --strong-box-shadow: 0 2px 5px #FFFFFF99;
}

*,*::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red */
}

/* ============
    Typography
   ============ */

h2 {
  font-family: sans-serif;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 10px;
}

h3 {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
}

/* ========
    Layout
   ======== */

body {
  background-color: var(--primary-color);
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 8fr;
}

nav {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: var(--strong-box-shadow);
}

.card-list {
  text-align: center;
  list-style: none;
  padding: 10px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
}

/* ============
    Components
   ============ */
    /* --------
        Button
       -------- */

button {
  cursor: pointer;
  font-weight: bold;
  border: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.display-form-button {
  position: absolute;
  bottom: 3%;
  right: 3%;
  font-size: 1rem;
  padding: 8px 13px;
  border-radius: 100px;
  box-shadow: var(--box-shadow);
  transition: all 1s ease 0s;
}

.rotate {
  transform: scale(1.3) rotate(225deg);
}

.add-book-button {
  background-color: black;
  color: white;
  box-shadow: var(--strong-box-shadow);
  align-self: center;
  padding: 8px 28px;
  margin-bottom: 10px;
}

.close-button {
  fill: var(--primary-color);
  font-weight: bold;
  font-size: 15px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.toggle-dark-mode {
  cursor: pointer;
  width: 25px;
  height: 25px;
  fill: var(--primary-color);
}

    /* -------
        Cards
       ------- */

.card {
  font-weight: bold;
  display: grid;
  position: relative;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 0 0 0 0;
  box-shadow: var(--box-shadow);
  grid-template-rows: min-content 1fr 1fr 1fr;
  align-items: center;
  animation: scaleElement 0.5s;
}

.border-bellow-field {
  border-top: 1px solid var(--secondary-color);
  font-size: 0.6rem;
  margin: 0 20%;
}

.card * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
}

    /* ------
        Form
       ------ */

form {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  background-color: white;
  color: black;
  position: absolute;
  top: 35%;
  left: 45%;
  box-shadow: var(--box-shadow);
  z-index: 1;
  box-shadow: 0 0 0 100vh rgba(0,0,0,0.7);
  animation: scaleElement 0.5s;
}

form > div {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 5px 20px;
  text-transform: capitalize;
}

input[type='text'],
input[type='tel'] {
  padding: 7px;
  box-shadow: var(--box-shadow);
}

form input[type="checkbox"] {
  cursor: pointer;
  background-color: #FE4A49;
  border: 1px solid var(--secondary-color);
  border-radius: 25px;
  position: relative;
  width: 30px;
  height: 15px;
  appearance: none;
  transition: 0.1s;
}

form input[type="checkbox"]:checked {
  background-color: green;
  transition: 0.1s;
}

form input[type="checkbox"]::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: var(--secondary-color);
  width: 13px;
  height: 13px;
  border-radius: 25px;
  transition: 0.1s;
}

form input[type="checkbox"]:checked::before {
  left: 60%;
  content: "";
  transition: 0.1s;
}

input:invalid + span::before {
  color: red;
  font-size: 0.7rem;
  position: absolute;
  content: "This Field is required";
  top: 10%;
  left: 1%;
}

span {
  position: relative;
}

.card-checkbox {
  justify-self: center;
  position: relative;
  appearance: none;
  width: 85px;
  height: 40px;
  font-weight: bold;
  color: white;
}

.card-checkbox::before {
  position: absolute;
  top: 0;
  left: 8px;
  padding: 1px 6px;
  content: "No";
  transition: 0.1s;
  background-color: red;
  line-height: 2;
  border-radius: 25px;
  box-shadow: 0 5px 0 0 #620303;
  border: 1px solid black;
}

.card-checkbox:checked::before {
  top: 4px;
  left: 9px;
  background-color: lightslategray;
  box-shadow: none;
  border: none;
}

.card-checkbox::after {
  position: absolute;
  top: 3px;
  left: 42px;
  padding: 3px 5px;
  content: "Yes";
  transition: 0.1s;
  background-color: lightslategray;
  border-radius: 25px;
  line-height: 2;
  font-size: 0.75rem;
}

.card-checkbox:checked::after {
  top: 0;
  left: 41px;
  background-color: green;
  border: 1px solid black;
  box-shadow: 0 5px 0 0 #013f01;
  transform: scale(0.94);
}

/*              Frames              */
@keyframes scaleElement {
  0% {
    transform: scale(0);
    opacity: 0;
    
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}