.enter-from-left {
  animation: enterFromLeft 0.4s forwards;
}

@keyframes enterFromLeft {
  0% {
    transform: translateX(-200%) rotate(270deg);
  }

  100% {

    transform: translateX(0%) rotate(0);
  }
}



